.css {
    background:Blue;
    text-align:center;
}

.blue-border {
    border-color:blue;
    border-width:5px;
    border-style:dashed;
    border-radius:0px;
}
 p {font-size: 15px;
    border-style:solid;
    border-color:blue;
    border-radius:0px; 
    border-width:2px; 
 }